<%- include("./partials/header.ejs"); %>
<%- include("./partials/loader.ejs"); %>


</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-danger rounded" style="width: 100px !important;" onclick="location.href='/'">Return to
            home.
        </button>
    </div>
</div>
</body>
</html>