<%- include("./partials/header.ejs") %>
<title>Mr. Robøt — Whois on Discord</title>
<meta name="description"
      content="Get information about Discord users and bots by ID">
<meta name="theme-color" content="#F1B451">

<meta property="og:site_name" content="Get your information sheet"/>
<meta name="twitter:title" content="Mr. Robøt — Whois on Discord"/>
<meta name="twitter:description"
      content="Get information about Discord users and bots by ID"/>
<meta name="twitter:image" content="https://whois.mrrobot.app/img/whois.png"/>
</head>
<body>
<div class="ctner space_x">
    <div class="row">
        <div class="bg_ctner_main">
            <form method="POST">
                <label for="userid" class="usr_title">User ID</label>
                <input type="text" id="userid" name="user"
                       autocomplete="off" placeholder="Enter the user ID. Example : 308655472452304896"
                       autofocus required>
                <% if (error) { %>
                    <div class="alert alert-danger">
                        <%= error %>
                    </div>
                <% } %>
                <button type="submit" class="btn_blurple">Get informations
                </button>
            </form>
        </div>
    </div>
    <div class="footer">
        <a href="https://github.com/Mist3r-Robot/Whois" target="_blank">See on
            GitHub</a>
        — <a href="https://mrrobot.app/add" target="_blank">Use the bot directly</a>
        — <a href="https://github.com/eeskofr/discord.id" target="_blank">Initial
            Repository</a>
        — Not affiliated with Discord Inc.</div>
</div>
<%- include("./partials/footer.ejs") %>
<%- include("./partials/loader.ejs") %>
<script type="text/javascript">
    var _paq = window._paq || [];
    _paq.push(["setDoNotTrack", true]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//analytics.thomasbnt.dev/";
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'matomo.js';
        s.parentNode.insertBefore(g, s);
    })();
    const cfcl = 'color:#314759; font-size: small; font-family: \'Open Sans\', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", sans-serif'
    console.group("Informations")
    console.log('%cHello friend.', cfcl)
    console.log('%cFollow me on GitHub : https://github.com/thomasbnt', cfcl)
    console.groupEnd("Informations")
</script>
<noscript><p><img src="//analytics.thomasbnt.dev/matomo.php?idsite=1&rec=1" style="border:0;" alt=""/></p></noscript>
</body>
</html>
