<%- include("./partials/header.ejs") %>
<title>Whois on Discord — Mr. Robøt</title>
<meta name="description"
      content="Get information about Discord users and bots by ID">
<meta name="theme-color" content="#F1B451">
<link rel="canonical" href="https://whois.mrrobot.app" />
<meta property="og:site_name" content="Get your information card"/>
<meta name="twitter:title" content="Whois on Discord — Mr. Robøt"/>
<meta name="twitter:description"
      content="Get informations about a member or a bot in your browser directly from their ID."/>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="https://whois.mrrobot.app/img/banner_seo.png"/>
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow">
</head>
<body>
<div id="ConnectionState" class="hidden">
    You are offline.
</div>
<div class="ctner space_x">
    <div class="row">
        <div class="bg_ctner_main">
            <div class="title">
                <h1>Whois</h1>
                <h2>From
                    <a href="https://mrrobot.app" target="_blank" rel="noopener">
                        Mr. Robøt
                        <img src="img/mrrobot_rounded.webp" alt="Mr. Robot logo" class="img_mrrobot" width="20" height="20" draggable="false">
                    </a>
                </h2>
            </div>
            <form method="POST" action="/whois">
                <label for="userid" class="usr_title">User ID</label>
                <input type="text" id="userid" name="user"
                       autocomplete="off" placeholder="Enter the user ID. Example : 308655472452304896"
                       autofocus required>
                <% if (error) { %>
                    <div class="alert alert-danger">
                        <%= error %>
                    </div>
                <% } %>
                <button type="submit" class="btn_blurple">Get informations</button>
            </form>
            <div class="footer">
                <div>
                 <a href="https://mrrobot.app/add" target="_blank" rel="noopener">Use the bot directly</a>
                    — <a href="https://www.buymeacoffee.com/thomasbnt/?via=thomasbnt" target="_blank" rel="noopener">Donate</a>
                — Not affiliated with Discord Inc.
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("./partials/loader.ejs") %>
<%- include("./partials/footer.ejs") %>
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  _paq.push(["setCookieDomain", "*.whois.mrrobot.app"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://analytics.thomasbnt.dev/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '9']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
    const cfcl = 'color:#314759; font-size: small; font-family: \'Open Sans\', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", sans-serif'
    console.group("Informations")
    console.log('%cHello friend.', cfcl)
    console.log('%cFollow me on GitHub : https://github.com/thomasbnt', cfcl)
    console.log('%cStar the project : https://github.com/Mist3r-Robot/Whois', cfcl)
    console.groupEnd("Informations")
</script>
<noscript><p><img src="//analytics.thomasbnt.dev/matomo.php?idsite=9&rec=1" style="border:0;" alt=""/></p></noscript>
</body>
</html>
