@import url("/css/bootstrap.min.css");
@import url("/css/loader.css");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root {
    --discord-dark: #2C2F33;
    --alpha-dark: #23272A;
    --blurple: #5865F2;
    --dark-blurple: #4753c2;
}
::-webkit-scrollbar { width: 3px;}
::-webkit-scrollbar-track {background: none !important;}
::-webkit-scrollbar-thumb {
    background: var(--alpha-dark);
    border-radius: 15px;
}
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--discord-dark);
    color: #FFF;
}
a {
    color: var(--bs-white);
    transition-duration: .2s;
    text-decoration: none;
}
a:hover,
a:focus {
    transition-duration: .5s;
    color: #b3b3b3;
}
h1,
h5 {
    word-break: break-word;
}
.avatar {
    height: 140px;
    width: 140px;
    border-radius: 50% !important;
}
.username {
    margin-top: 25px;
}
.badges {
    max-width: 35px;
    cursor: pointer;
}
.botbadge {
    height: 23px;
}
.botbadge-v {
    height: 23px;
}
.inf_colored {
    color: var(--alpha-dark);
    font-family: system-ui, sans-serif;
}
.discriminator {
    color: #d8d8d8;
}
.white_circle {
    display: inline-flex;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}
.required {
    color: #d9534f;
    cursor: pointer;
}
input {
    background-color: var(--alpha-dark);
    color: #FFFFFF;
    border: none;
}
.btn_blurple {
    background-color: var(--dark-blurple);
    color: #FFFFFF;
}
.btn_blurple:hover {
    background-color: #3a429e;
    color: #b9b9b9;
}
.bghr {
    background-color: rgba(255,255,255,0.3);
    height: 1px;
}
.bg_ctner_main {
    background-color: var(--blurple);
    color: #FFFFFF;
}
.usr_title {
    font-size: 23px;
    padding: 9px 0 13px 0;
}
.notice_footer {
    margin-top: -30px !important;
    margin-bottom: 15px;;
    text-align: center;
    font-size: 13px;
}
.alert-danger {
    text-align: -webkit-center;
    color: #fdfcfc;
    background-color: #d9534f;
    border-color: #d9534f;
    border-radius: unset;
    font-weight: 200;
}
.alert {
    margin-bottom: -25px;
}
@media (max-width: 900px) {
    .row>* {
        padding-right: unset;
        padding-left: unset;
    }
}
